@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
  --color-transparent-dark: rgba(0, 0, 0, 0.9);
  --color-dark-1:#000;
  --color-dark-2: #202633;
  --color-dark-3: #20141c;
  --color-primary-dark-1: #2a1320;
  --color-grey-1: #3b4151;
  --color-grey-2: #787f94;
  --color-primary-red: #e70707;
  --color-light-1: #fff;
  --color-border-primary-red: rgb(174, 47, 47);
  --color-blue-1: #0d6efd;
}

body {
  background-color: var(--color-dark-1);
  font-family: 'Play', sans-serif;
}

.loading-overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-box {
  /* border: 10px solid black; */
  background-color: #323b4f;
  border-radius: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-box .spinner {
  margin: auto;
  width: 50px;
  animation: rotate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-collapse.custom {
  flex-grow: 0;
}

.menubar-toggle .toggle-container {
  margin: auto;
  width: 1.5rem;
  height: 1rem;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.toggle-lines {
  width: 1.5rem;
  border: 1.5px solid var(--color-light-1);
  transition: .3s;
}

.toggle-lines:nth-child(2) {
  width: 1rem;
  margin-left: auto;
}

.toggle-lines.close:nth-child(1) {
  display: none;
}

.toggle-lines.close:nth-child(2) {
  position: relative;
  width: 1.5rem;
  transform: rotate(135deg);
  transition: .3s;
  top: 9px;
}

.toggle-lines.close:nth-child(3) {
  position: relative;
  width: 1.5rem;
  transform: rotate(45deg);
  bottom: 5px;
  left: 1px;
}

.navbar-brand .logo {
  width: 150px;
}

.bg-dark {
  background-color: var(--color-dark-1) !important;
}

.navbar {
  border-bottom: 1.5px solid var(--color-primary-red);
}

.navbar-brand {

  display: block;
  margin: auto;
  padding: 12px 0px;
  padding-bottom: 16px;
}

header.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10001;
}

header.menu-container.open-menu {
  height: 100vh;
  width: 100vw;
}

.menubar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--color-dark-1);
  flex-grow: 1;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menubar .menu-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menubar .menu-list .menubar-item {
  padding: 12px;
  margin: auto;
  margin-bottom: 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.menubar .menu-list a.menubar-item {
  color: var(--color-light-1);
}

.menu-list.top-section .menubar-item {
  font-size: 1rem;
}

.menubar .menu-footer,
.footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.menu-footer .item,
.footer-socials .item {
  font-size: 1.5rem;
  margin-left: 16px;
  margin-right: 16px;
}

.navbar-brand-i {
  font-size: 1.4rem;
}

i.glow {
  color: var(--color-primary-red);
  text-shadow: 0px 0px 5px #cb0707;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 14px !important;
  letter-spacing: 1px;
}

.navbar .btn,
.menubar .btn {
  padding: 12px 32px !important;
}

.btn-primary-transparent {
  background-color: rgba(231, 7, 7, .1);
  border: 3px solid var(--color-border-primary-red);
  color: var(--color-light-1);

}

.btn-primary-transparent:hover,
.btn-primary-transparent:active {
  background-color: rgba(231, 7, 7, .6) !important;
  border: 3px solid var(--color-border-primary-red) !important;
}

.brand-icon {
  font-size: 1.4rem;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 22px !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(20, 7, 7, .8);
  color: var(--color-light-1);
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.custom-modal {
  width: 100%;
  max-width: 320px;
  padding: 1.5rem;
  border-radius: 25px;
  background-color: #1d222e;
  margin: auto;
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.modal-head {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}

.modal-head h1 {
  margin-left: auto;
  font-size: 1.727rem;
}

.modal-desc {
  color: #bbb;
  font-size: 14px;
  text-align: center;
  margin: 8px 0px;
}

.modal-body .wallet-options {
  background-color: var(--color-grey-1);
  border-radius: 25px;
  margin: 16px 0px;
}

.wallet-options .wallet-option {
  display: flex;
  padding: 16px 0px;
  border-bottom: 1px solid var(--color-dark-2);
}

.wallet-option img {
  width: 2rem;
  margin: 0px 16px;
  margin-right: 0px;
}

.wallet-option span {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  flex-grow: 1;
  margin-right: 32px;
  letter-spacing: 1px;
}

.custom-btn-close {

  background-color: var(--color-grey-1);
  border-radius: 50%;
  padding: 0px 14px 3px 14px !important;
  text-align: center;
}

.custom-btn-close img {
  width: 12px;
}

.modal-head .custom-btn-close {
  margin-left: auto;
}

/* *************** TABS *************** */
.tabs {
  color: var(--color-light-1);
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
}

.tabs .tab-item {
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px 0px;
  text-decoration: none;
  color: var(--color-light-1);
  /* letter-spacing: px; */
}
@media (min-width:768px){
  .tabs .tab-item {
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px 0px;
    margin: 0px 12px;
    text-decoration: none;
    color: var(--color-light-1);
    /* letter-spacing: px; */
  }
  .display-md-inline{
    display: inline !important;
  }
  .display-md-block{
    display: block !important;
  }
}

.tabs .tab-item:active,
.tabs .tab-item.active {
  color: var(--color-primary-red);
}

.badge {
  color: #707177;
  background-color: var(--color-light-1);
  font-size: 14px;
  border-radius: 25px;
  padding: 4px 8px;
}

.tab-item .badge {
  position: relative;
  bottom: 5px;
  right: 1px;
  background-color: var(--color-primary-red);
  color: var(--color-light-1);
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}

.section-heading {
  text-transform: uppercase;
  color: var(--color-light-1);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.nft-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 6px;
  row-gap: 8px;
}

@media (min-width: 768px) {
  .nft-grid {
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  }
}

@media (min-width: 1024px) {
  .nft-grid {
    grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
  }
}

.nft-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 170px;
  left: 4px;
}

.badge.mint_serial {
  z-index: 1;
}

.badge.time_left {
  background-color: var(--color-primary-red);
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-light-1);
}

h5.nft_heading {
  color: #707177;
  font-weight: bold;
  font-size: 14px;
}

.card.nft-card {
  color: #707177;
}

.nft-value .amount {
  font-size: 18px;
  margin-left: 4px;
  font-weight: bold;
  color: #313135;
}

.nft-card-footer {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 0px -6px;
}