@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  background-color: #202633;
  font-family: 'Play', sans-serif;
}

.loading-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #202633;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-box {
  /* border: 10px solid black; */
  background-color: #323b4f;
  border-radius: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-box .spinner {
  margin: auto;
  width: 50px;
  animation: rotate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-collapse.custom {
  flex-grow: 0;
}

.menubar-toggle .toggle-container {
  margin: auto;
  width: 1.5rem;
  height: 1rem;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.toggle-lines {
  width: 1.5rem;
  border: 1.5px solid #fff;
  transition: .3s;
}

.toggle-lines:nth-child(2) {
  width: 1rem;
  margin-left: auto;
}

.toggle-lines.close:nth-child(1) {
  display: none;
}

.toggle-lines.close:nth-child(2) {
  position: relative;
  width: 1.5rem;
  transform: rotate(135deg);
  transition: .3s;
  top: 9px;
}

.toggle-lines.close:nth-child(3) {
  position: relative;
  width: 1.5rem;
  transform: rotate(45deg);
  bottom: 5px;
  left: 1px;
}

.navbar-brand .logo {
  width: 150px;
}

.bg-dark {
  background-color: #000 !important;
}

.navbar {
  border-bottom: 1.5px solid #e70707;
}

.navbar-brand {

  display: block;
  margin: auto;
  padding: 12px 0px;
  padding-bottom: 16px;
}

header.menu-container {
  display: flex;
  flex-direction: column;
}
header.menu-container.open-menu{
  height: 100vh;
}

.menubar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #000;
  flex-grow: 1;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}
.menubar .menu-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menubar .menu-list .menubar-item {
  padding: 12px;
  margin: auto;
  margin-bottom: 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.menubar .menu-list a.menubar-item{
  color: #fff;
}
.menu-list.top-section .menubar-item{
  font-size: 1rem;
}
.menubar .menu-footer{
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.menu-footer .item{
  font-size: 1.5rem;
  margin-left: 16px;
  margin-right: 16px;
}
.navbar-brand-i{
  font-size: 1.4rem;
}
i.glow{
  color: #e70707;
  text-shadow: 0px 0px 5px #cb0707;
}
a {
  text-decoration: none;
}
.btn{
  border-radius: 25px;
  padding: 12px 32px !important;
  text-transform: uppercase;
  font-size: 14px !important;
  letter-spacing: 1px;
}
.btn-primary{
  background-color: rgba(231, 7, 7, .1);
  border:3px solid rgb(174, 47, 47);

}
.btn-primary:hover, .btn-primary:active{
  background-color: rgba(231, 7, 7, .6) !important;
  border:3px solid rgb(174, 47, 47) !important;
}
.brand-icon{
  font-size: 1.4rem;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 22px !important;
}
.modal-overlay{
  position: fixed;
  top: 0;
  background-color: rgba(20, 7, 7, .8);
  color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.custom-modal{
  width: 100%;
  max-width: 320px;
  padding: 1.5rem;
  border-radius: 25px;
  background-color: #1d222e;
  margin: auto;
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.modal-head{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}
.modal-head h1{
  margin-left: auto;
  font-size: 1.727rem;
}
.modal-desc{
  color: #bbb;
  font-size: 14px;
  text-align: center;
  margin: 8px 0px;
}
.modal-body .wallet-options{
  background-color: #3b4151;
  border-radius: 25px;
  margin: 16px 0px;
}
.wallet-options .wallet-option{
  display: flex;
  padding: 16px 0px;
  border-bottom: 1px solid #202633;
}
.wallet-option img{
  width: 2rem;
  margin: 0px 16px;
  margin-right: 0px;
}
.wallet-option span{
  display: block;
  text-align: center;
  font-size: 1.2rem;
  flex-grow: 1;
  margin-right: 32px;
  letter-spacing: 1px;
}
.custom-btn-close{

  background-color: #3b4151;
    border-radius: 50%;
    padding: 0px 14px 3px 14px !important;
    text-align: center;
}
.custom-btn-close img{
  width: 12px;
}
.modal-head .custom-btn-close{
  margin-left: auto;
}
/* *************** TABS *************** */
.tabs{
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
}
.tabs .tab-item{
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px 0px;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: px; */
}
.tabs .tab-item:active, .tabs .tab-item.active{
  color: #e70707;
}
.tab-item .badge{
  position: relative;
  bottom: 5px;
  right: 1px;
}
.badge{
  border-radius: 50%;
  padding: 4px;
  background-color: #e70707;
}